.button {
    display: inline-block;
    font-size: 12pt;
    line-height: 2;
    box-shadow: none;
    border-radius: 0;
    border: none;
    margin: 4px;
}

.button-info{
    color: #000;
    background-color: #68f
}

.button-danger{
    color: #000;
    background-color: #f66
}

.button-success{
    color: #000;
    background-color: #8fa
}